/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol
      *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}
// reset CSS end



/* nunito-regular - latin_cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/nunito-v25-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/nunito-v25-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-v25-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-v25-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-v25-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-v25-latin_cyrillic-regular.svg#Nunito') format('svg'); /* Legacy iOS */
}
/* nunito-500 - latin_cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/nunito-v25-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/nunito-v25-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-v25-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-v25-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-v25-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-v25-latin_cyrillic-500.svg#Nunito') format('svg'); /* Legacy iOS */
}

/* poppins-regular - latin */
// @font-face {
//   font-family: "Poppins";
//   font-style: normal;
//   font-weight: 400;
//   src: local(""),
//     url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"),
//     /* Chrome 26+, Opera 23+, Firefox 39+ */
//       url("../fonts/poppins-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }
// /* poppins-500 - latin */
// @font-face {
//   font-family: "Poppins";
//   font-style: normal;
//   font-weight: 500;
//   src: local(""), url("../fonts/poppins-v20-latin-500.woff2") format("woff2"),
//     /* Chrome 26+, Opera 23+, Firefox 39+ */
//       url("../fonts/poppins-v20-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }

$color-neutral-light-theme: #ffffff;
$color-neutral-dark-theme: #222d36;
$color-bg-light-theme: #e9ebec;
$color-bg-dark-theme: #0c151d;
$color-text-dark: #3d3d3d;
$color-text-darker: #19191b;
$color-text-main-light-theme: #575757;
$color-main-accent-light-theme: #fbd144;
$color-main-accent-dark-theme: #ffe071;
$color-switcher-light-theme: #d7d7d7;
$color-switcher-dark-theme: #0c151d;
$color-text-main-dark-theme: #a3abb2;
$color-caption-dark-theme: #f1f2f4;

.body {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: $color-text-main-light-theme;
  background-color: $color-bg-light-theme;
  transition: 0.4s all;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &_dark-theme {
    background-color: $color-bg-dark-theme;
    color: $color-text-main-dark-theme;
  }
}

ul {
  list-style: inside;
}

.wrapper-sm {
  max-width: 630px;
  padding: 0 10px;
  margin: 0 auto;
}

.wrapper-lg {
  max-width: 780px;
  padding: 0 10px;
  margin: 0 auto;
}

/*theme button start*/
.theme-button {
  margin: 0 auto;
  margin: 33px auto 65px auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;

  &_light {
    background-color: $color-neutral-light-theme;
  }
  &_dark {
    background-color: $color-neutral-dark-theme;
  }
}

.theme-button__ico {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-48%);
  width: 40px;
  height: 40px;

  &_light {
    background: url(../img/svg/theme-light-ico.svg) no-repeat center;
  }
  &_dark {
    background: url(../img/svg/theme-dark-ico.svg) no-repeat center;
  }
}
/*theme button end*/

/*profile start*/
.profile {
  &__info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 48px;
  }

  &__image {
    width: 215px;
    height: 215px;
    margin-right: 60px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__personal-data {
    max-width: 372px;
  }

  &__name {
    width: 100%;
    font-size: 46px;
    line-height: 69px;
    color: $color-text-dark;
    margin-bottom: 3px;
    transition: 0.4s all;

    &_dark-theme {
      color: $color-caption-dark-theme;
    }
  }

  &__profession {
    margin-bottom: 12px;
  }

  &__social-links {
    display: flex;
    flex-wrap: wrap;
  }

  &__social-link {
    margin-right: 26px;
  }

  &__social-link-ico {
    width: 36px;
    height: 36px;
  }
}
/*profile end*/

/*buttons start*/
.buttons {
  &__wrap {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    margin-bottom: 75px;
  }

  &__download-cv {
    // margin-right: 10px;
  }
}

%button {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: $color-text-dark;
  transition: 0.4s background-color;
  cursor: pointer;
}
.button {
  &__cv {
    @extend %button;
    background-color: $color-main-accent-light-theme;
    &::after {
      width: 45px;
      height: 24px;
      content: "";
      background: url(../img/svg/download-pic.svg) no-repeat right;
    }
    &_dark-theme {
      background-color: $color-main-accent-dark-theme;
    }
  }
  &__contact {
    @extend %button;
    background-color: $color-neutral-light-theme;

    &_dark-theme {
      background-color: $color-neutral-dark-theme;
      color: $color-text-main-dark-theme;
    }
  }
}
/*buttons end*/

/*switcher start*/
%content-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-text-darker;
  z-index: 3;
  width: 50%;
  height: 80px;
  cursor: pointer;
  transition: 0.4s all;
  &_dark-theme {
    color: $color-text-main-dark-theme;
  }
}
.content-switcher {
  margin-bottom: 76px;

  &__wrap {
    width: 100%;
    height: 80px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;

    &-main {
      display: flex;
      align-items: center;
      width: 100%;
      height: 110px;
      padding: 15px 3%;
      background-color: $color-neutral-light-theme;
      border-radius: 20px;
      position: relative;
      transition: 0.4s all;

      &_dark-theme {
        background-color: $color-neutral-dark-theme;
      }
    }
  }

  &__projects,
  &__experience {
    @extend %content-switcher;
    &_dark-theme {
      @extend %content-switcher_dark-theme;
    }
  }

  &__slider {
    position: absolute;
    width: 50%;
    height: 80px;
    background-color: $color-switcher-light-theme;
    border-radius: 10px;
    transition: 0.4s all;

    &_dark-theme {
      background-color: $color-switcher-dark-theme;
    }
  }
}

.experience-on {
  transform: translateX(100%);
}
/*switcher end*/

.main {
  margin-bottom: 130px;
}

/*portfolio start*/
.portfolio {
  position: relative;
  overflow: hidden;
  // height: 2000px;

  &__projects {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px 4.1%;
    transform: translateX(100%);
    transition: 0.4s all;

    &_open {
      transform: translateX(0);
    }
  }

  &__project {

    &-pic {
      width: auto;
      border-radius: 15px;
      border: none;
      transition: 0.4s all;

      &_light-border {
        border-spacing: 3px;
        border: solid $color-switcher-light-theme 5px;
      }
    }
  }

  .project-desc {
    padding: 0 10px;   
    &__title {
      margin-bottom: 10px;
      // border: solid green;
    }
    &__text {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 10px;
      // border: solid green;
    }
    &__links {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 10px;
      // border: solid red;
      &-title {
        font-size: 14px;
        line-height: 20px;
        color: $color-text-darker;
        background-color: $color-text-main-dark-theme;
        border-radius: 7px;
      }
    }
    &__link {
      text-decoration: underline;
      font-size: 14px;
      line-height: 10px;
      // border: solid red;
    }
  }

  &__experience {
    width: 100%;
    padding: 0 15px;
    
    transform: translateX(-100%);
    transition: 0.4s all;

    &_open {
      transform: translateX(0);
    }
  }
}
/*portfolio end*/

.footer__copyright {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  text-align: center;
}

@media screen and (max-width: 627px) {
  .theme-button {
    margin-bottom: 30px;
  }

  .main {
    margin-bottom: 48px;
  }

  .profile {
    &__info {
      flex-direction: column;
    }
    &__image {
      margin: 0 0 40px 0;
    }
    &__social-links {
      justify-content: space-between;
    }
    &__social-link {
      margin-right: 0;
    }
    &__name {
      text-align: center;
    }
    &__profession {
      margin-bottom: 25px;
      text-align: center;
    }
  }

  // .buttons__wrap {
  //   justify-content: space-around;
  // }

  // .button {
  //   &__cv,
  //   &__contact {
  //     width: 220px;
  //   }
  // }

  .content-switcher {
    margin-bottom: 48px;
  }

  .portfolio__projects {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__copyright {
    margin-bottom: 30px;
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .buttons {
    // display: flex;
    // justify-content: center;
    // margin: 0 auto;
    &__wrap {
      grid-template-columns: repeat(1, 1fr);
      // flex-direction: column;
      // width: 330px;
    //   flex-wrap: nowrap;
    //   align-items: center;
      margin-bottom: 48px;
    }
    // &__download-cv {
      // width: 100%;
      // margin: 0 0 15px 0;
  //   }
  }

  .theme-button {
    margin: 20px auto 30px auto;
    width: 48px;
    height: 48px;
    &__ico {
      width: 24px;
      height: 24px;

      &_light,
      &_dark {
        background-size: 24px 24px;
      }
    }
  }

  .profile {
    &__image {
      width: 124px;
      height: 124px;
    }

    &__name {
      font-size: 32px;
      line-height: 48px;
    }

    &__profession {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 20px;
    }
    &__social-link-ico {
      width: 24px;
      height: 24px;
    }
  }

  .button {
    &__cv,
    &__contact {
      font-size: 12px;
      line-height: 18px;
      // max-width: 145px;
      height: 44px;
    }
    &__cv::after {
      width: 23px;
      // height: 24px;
      background-size: 16px 24px;
    }
  }

  .content-switcher {
    &__wrap-main {
      height: 64px;
      border-radius: 10px;
    }
    &__slider {
      height: 50px;
    }
    &__projects,
    &__experience {
      font-size: 14px;
      line-height: 21px;
    }
  }

  .portfolio {
    &__project-desc,
    &__experience {
      font-size: 14px;
      line-height: 21px;
    }
  }

  .footer__copyright {
    font-size: 12px;
  }
}

@media screen and (max-width: 330px) {
.buttons__wrap {
  flex-direction: column;
  align-items: center;
}
// .button {
//   &__cv,
//   &__contact {
//     margin: auto;
//     width: 280px;
//     // max-width: 280px;
//   }
// }
.buttons { 

  // &__download-cv {
  //   margin-right: 0;
  //   width: 100%;
  // }
}
.portfolio .project-desc__link {
  font-size: 12px;
}
}