/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* nunito-regular - latin_cyrillic */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/nunito-v25-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/nunito-v25-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/nunito-v25-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/nunito-v25-latin_cyrillic-regular.woff") format("woff"), url("../fonts/nunito-v25-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/nunito-v25-latin_cyrillic-regular.svg#Nunito") format("svg"); /* Legacy iOS */
}
/* nunito-500 - latin_cyrillic */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/nunito-v25-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/nunito-v25-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/nunito-v25-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/nunito-v25-latin_cyrillic-500.woff") format("woff"), url("../fonts/nunito-v25-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/nunito-v25-latin_cyrillic-500.svg#Nunito") format("svg"); /* Legacy iOS */
}
/* poppins-regular - latin */
.body {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: #575757;
  background-color: #e9ebec;
  transition: 0.4s all;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.body_dark-theme {
  background-color: #0c151d;
  color: #a3abb2;
}

ul {
  list-style: inside;
  list-style-type: square;
  font-weight: 600;
}

::marker {
  color: #fbd144;
  font-size: 32px;
  vertical-align: middle;
}

.wrapper-sm {
  max-width: 630px;
  padding: 0 10px;
  margin: 0 auto;
}
.wrapper-lg {
  max-width: 780px;
  padding: 0 10px;
  margin: 0 auto;
}

.lang-switcher {
  padding-top: 20px;
  text-align: center;
  margin: 0 auto;
}

/*theme button start*/
.theme-button {
  margin: 10px auto 45px auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.theme-button_light {
  background-color: #ffffff;
}
.theme-button_dark {
  background-color: #222d36;
}
.theme-button__ico {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 40px;
  height: 40px;
  transition: 0.5s;
}
.theme-button__ico_light {
  background: url(../img/svg/theme-light-ico.svg) no-repeat center;
}
.theme-button__ico_dark {
  background: url(../img/svg/theme-dark-ico.svg) no-repeat center;
  transform: translateY(-50%) translateX(-50%) rotate(180deg);
}

/*theme button end*/
/*profile start*/
.profile__info {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
.profile__image {
  width: 215px;
  height: 215px;
  margin-right: 60px;
  border-radius: 50%;
  overflow: hidden;
}
.profile__personal-data {
  max-width: 372px;
}
.profile__name {
  width: 100%;
  font-size: 46px;
  line-height: 69px;
  color: #3d3d3d;
  margin-bottom: 3px;
  transition: 0.4s all;
}
.profile__name_dark-theme {
  color: #f1f2f4;
}
.profile__profession {
  margin-bottom: 12px;
}
.profile__social-links {
  display: flex;
  flex-wrap: wrap;
}
.profile__social-link {
  margin-right: 26px;
}
.profile__social-link-ico {
  width: 36px;
  height: 36px;
}

.skills-list {
  text-align: center;
  font-size: 18px;
  padding: 0 15px;
  margin-bottom: 30px;
}

/*profile end*/
/*buttons start*/
.buttons__wrap {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 75px;
}
.button__contact, .button__cv {
  width: 100%;
  height: 80px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #3d3d3d;
  transition: 0.4s background-color;
  text-align: center;
  cursor: pointer;
}

.button__cv {
  background-color: #fbd144;
}
.button__cv::after {
  width: 35px;
  height: 24px;
  content: "";
  background: url(../img/svg/download-pic.svg) no-repeat right;
}
.button__cv_dark-theme {
  background-color: #ffe071;
}
.button__contact {
  background-color: #ffffff;
}
.button__contact_dark-theme {
  background-color: #222d36;
  color: #a3abb2;
}

/*buttons end*/
/*switcher start*/
.content-switcher__projects, .content-switcher__experience {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #19191b;
  z-index: 3;
  width: 50%;
  height: 80px;
  cursor: pointer;
  transition: 0.4s all;
}
.content-switcher__projects_dark-theme, .content-switcher__experience_dark-theme {
  color: #a3abb2;
}

.content-switcher {
  margin-bottom: 76px;
}
.content-switcher__wrap {
  width: 100%;
  height: 80px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.content-switcher__wrap-main {
  display: flex;
  align-items: center;
  width: 100%;
  height: 110px;
  padding: 15px 3%;
  background-color: #ffffff;
  border-radius: 20px;
  position: relative;
  transition: 0.4s all;
}
.content-switcher__wrap-main_dark-theme {
  background-color: #222d36;
}
.content-switcher__slider {
  position: absolute;
  width: 50%;
  height: 80px;
  background-color: #d7d7d7;
  border-radius: 10px;
  transition: 0.4s all;
}
.content-switcher__slider_dark-theme {
  background-color: #0c151d;
}

.experience-on {
  transform: translateX(100%);
}

/*switcher end*/
.main {
  margin-bottom: 130px;
}

/*portfolio start*/
.portfolio {
  position: relative;
  overflow: hidden;
}
.portfolio__experience {
  width: 100%;
  padding: 0 15px;
  transform: translateX(-100%);
  transition: 0.4s all;
  position: absolute;
  top: 0;
  left: 0;
}
.portfolio__experience_open {
  transform: translateX(0);
  position: relative;
}
.portfolio__projects {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px 4.1%;
  transform: translateX(100%);
  transition: 0.4s all;
}
.portfolio__projects_open {
  transform: translateX(0);
  position: relative;
}
.portfolio__project-pic {
  width: auto;
  border-radius: 15px;
  border: none;
  transition: 0.4s all;
}
.portfolio__project-pic_light-border {
  border-spacing: 3px;
  border: solid #d7d7d7 5px;
}
.portfolio .project-desc {
  padding: 0 10px;
}
.portfolio .project-desc__title {
  margin-bottom: 10px;
}
.portfolio .project-desc__text {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.portfolio .project-desc__links {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.portfolio .project-desc__links-title {
  font-size: 14px;
  line-height: 20px;
  color: #19191b;
  background-color: #a3abb2;
  border-radius: 7px;
}
.portfolio .project-desc__link {
  text-decoration: underline;
  font-size: 14px;
  line-height: 10px;
}

/*portfolio end*/
.footer__copyright {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  text-align: center;
}

@media screen and (max-width: 627px) {
  .theme-button {
    margin-bottom: 30px;
  }
  .main {
    margin-bottom: 48px;
  }
  .profile__info {
    flex-direction: column;
  }
  .profile__image {
    margin: 0 0 40px 0;
  }
  .profile__social-links {
    justify-content: space-between;
  }
  .profile__social-link {
    margin-right: 0;
  }
  .profile__name {
    text-align: center;
  }
  .profile__profession {
    margin-bottom: 25px;
    text-align: center;
  }
  .content-switcher {
    margin-bottom: 48px;
  }
  .portfolio__projects {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer__copyright {
    margin-bottom: 30px;
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  ::marker {
    font-size: 18px;
  }
  .buttons__wrap {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 48px;
  }
  .lang-switcher {
    margin-bottom: 10px;
  }
  .theme-button {
    margin: 0 auto 15px auto;
    width: 48px;
    height: 48px;
  }
  .theme-button__ico {
    width: 24px;
    height: 24px;
  }
  .theme-button__ico_light, .theme-button__ico_dark {
    background-size: 24px 24px;
  }
  .skills-list {
    font-size: 12px;
  }
  .profile__info {
    margin-bottom: 20px;
  }
  .profile__image {
    width: 124px;
    height: 124px;
    margin-bottom: 15px;
  }
  .profile__name {
    font-size: 32px;
    line-height: 48px;
  }
  .profile__profession {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 20px;
  }
  .profile__social-link-ico {
    width: 24px;
    height: 24px;
  }
  .button__cv, .button__contact {
    font-size: 14px;
    line-height: 18px;
    height: 44px;
  }
  .button__cv::after {
    width: 23px;
    background-size: 16px 24px;
  }
  .content-switcher__wrap-main {
    height: 64px;
    border-radius: 10px;
  }
  .content-switcher__slider {
    height: 50px;
  }
  .content-switcher__projects, .content-switcher__experience {
    font-size: 14px;
    line-height: 21px;
  }
  .portfolio__project-desc, .portfolio__experience {
    font-size: 14px;
    line-height: 21px;
  }
  .footer__copyright {
    font-size: 12px;
  }
}
@media screen and (max-width: 330px) {
  .buttons__wrap {
    flex-direction: column;
    align-items: center;
  }
  .portfolio .project-desc__link {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */